@model IEnumerable<qmail.MailsStat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mail statistics</h2>

<table>
    <tr>
        <th>Since</th>
        <th>Created</th>
        <th>Sent</th>
        <th>Failed</th>
        <th>Archived</th>
    </tr>
@{ 
    var test = new qmail.MailsStat(DateTime.Now, 0,0,0,0);
}

@foreach (var stat in Model) {
    <tr>
        <td>
            @stat.SinceDate
        </td>
        <td>
            @stat.Created
        </td>
        <td>
            @stat.Sent
        </td>
        <td>
            @stat.Failed
        </td>
        <td>
            @stat.Archived
        </td>
    </tr>
}
</table>

